<!DOCTYPE html>
<html ng-app="wot">

<head>
	<title>ThingClient</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="description" content="">
	 <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
 </head>

<body ng-controller="ThingClientCtrl as tclient">

	<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="tsclient.toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">
    <md-list>
      <md-list-item ng-repeat="thing in things">
          <md-button ng-click="tsclient.selectThing(it)" ng-class="{'selected' : it === tsclient.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{thing.name}}
          </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

	<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button id="main" class="menu" hide-gt-sm ng-click="" aria-label="Show Things List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h3>Web of Things Client </h3>
    </md-toolbar>

    <md-content flex id="content">

		</md-content>

  </div>
	<h2>From File:</h2>
	<input type="file" file-loader ng-model="pickedFile" file-loaded="tclient.addThingFromJson(pickedFile)" id="jsonInput" style="background-color:LightGoldenRodYellow;" />

	<h2>From URL</h2>
	<input type="url" ng-model="url" size="80" aria-label="URL" />
	<button id="fetchbtn" ng-click="tclient.addThingFromUrl(url)">fetch</button>
	<br>


	<h2>@TODO Discover TD</h2>
	<h2>@TODO add actions and subscriptions (or auto-poll)</h2>
	<h2>@TODO use a design lib (e.g. <a href="https://material.angularjs.org/latest/">Angular-Material</a>, <a href="http://try.buildwinjs.com/">WinJS</a> or <a href="http://ionicframework.com/">Ionic</a> )</h2>

	<div ng-repeat="error in errors">
		<p style="color:red">{{error}}</p>
	</div>
	<button ng-click="errors=[]" ng-show="errors.length > 0">Clear errors</button>

	<div ng-repeat="thing in things">
		<h2>{{thing.name}}: {{thing.uri}}</h2> Actions:
		<ul ng-repeat="action in thing.actions">
			<li>Action {{action.name}} ({{action.xsdParamType}} -> {{action.xsdResultType}})
				<input ng-show="action.xsdParamType" ng-model="param" />
				<button ng-click="tclient.callAction(thing, action, param)">call</button>
			</li>
		</ul>
		<br/> Properties:
		<button ng-click="tclient.updateState(thing)">update All</button>
		<ul ng-repeat="property in thing.properties">
			<li>Property {{property.name}}: {{property.xsdType}} {{property.writable ? "(writable)" : "(read-only)"}}
				<input type="number" ng-model="property.value" ng-readonly="!property.writable" ng-show="property.isNumeric()" />
				<input type="text" ng-model="property.value" ng-readonly="!property.writable" ng-show="property.xsdType === 'xsd:string'" />
				<input type="checkbox" ng-model="property.value" ng-readonly="!property.writable" ng-show="property.xsdType === 'xsd:boolean'" />
				<button ng-click="tclient.readProperty(thing,property)">update</button>
				<button ng-click="tclient.writeProperty(thing,property)" ng-show="property.writable">set</button>
			</li>
		</ul>
	</div>

	<h2>Debug Area - to be removed</h2>
	<pre>
	{{ things | json }}
</pre>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

	<!-- in the future, these scripts get concatenated to angular-wot.js -->
  <script src="js/angular-coap.js"></script>
	<script src="js/wot.module.js"></script>
	<script src="js/td-parser.service.js"></script>
	<script src="js/file-loader.directive.js"></script>
	<script src="js/thing-client.service.js"></script>
	<script src="js/thing-client-ctrl.controller.js"></script>

</body>

</html>
