<!DOCTYPE html>
<html ng-app="wot">
<head>
<title>ThingClient</title>
</head>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}
</style>
<body ng-controller="ThingClientCtrl as tclient">
<p style="font-size:x-small"><a href="index.html">Home</a> | <span style="color: Gray;">Process TD</span> </p>

<h1>Thing description</h1>

<h2>From File:</h2>
<input type="file" file-loader ng-model="pickedFile" file-loaded="tclient.addThingFromJson(pickedFile)" id="jsonInput" style="background-color:LightGoldenRodYellow;" />

<h2>From URL</h2>
<input type="text" ng-model="url" size="80" aria-label="URL" />
<button id="fetchbtn" ng-click="tclient.addThingFromUrl(url)">fetch</button><br>


<h2>@TODO Discover TD</h2>
<h2>@TODO add actions and subscriptions (or auto-poll)</h2>
<h2>@TODO use a design lib (e.g. <a href="https://material.angularjs.org/latest/">Angular-Material</a>, <a href="http://try.buildwinjs.com/">WinJS</a> or <a href="http://ionicframework.com/">Ionic</a> )</h2>

<div ng-repeat="error in errors">
	<p style="color:red">{{error}}</p>
</div>
<button ng-click="errors=[]" ng-show="errors.length > 0">Clear errors</button>

<div ng-repeat="thing in things">
	<h2>{{thing.name}}: {{thing.uri}}</h2>
		Actions:
		<ul ng-repeat="action in thing.actions">
			<li>Action {{action.name}} ({{action.xsdParamType}} -> {{action.xsdResultType}})</li>
		</ul><br/>
		Properties: <button ng-click="tclient.updateState(thing)">update All</button>
		<ul ng-repeat="property in thing.properties">
			<li>Property {{property.name}}: {{property.xsdType}}
					{{property.writable ? "(writable)" : "(read-only)"}}
					<input type="text" ng-model="property.value" ngReadOnly="property.writable"/>
					<button ng-click="tclient.readProperty(thing,property)">update</button>
					<button ng-click="tclient.writeProperty(thing,property)" ng-show="property.writable">set</button>
			</li>
		</ul>
</div>

<h2>Debug Area - to be removed</h2>
<pre>
	{{ things | json }}
</pre>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

<!-- in the future, these scripts get concatenated to angular-wot.js -->
<script src="js/wot.module.js"></script>
<script src="js/td-parser.service.js"></script>
<script src="js/file-loader.directive.js"></script>
<script src="js/thing-client-ctrl.controller.js"></script>

</body>
</html>
